{% extends 'base.html' %} {%block content%}
<style media="screen">
      .helptext {
            display: none;
      }
</style>
<p>
<form class="" action="/crear_una_jornada" method="POST">
      {% csrf_token %}
      <select class="form-control" name="nombre_equipo_1">
            {%for equipo_aux in context.equipos_jornadas%}
            <option>{{equipo_aux.nombre}}</option>
            {%endfor%}
      </select>
      <h3>vs</h3>
      <select class="form-control" name="nombre_equipo_2" >
            {%for equipo_aux in context.equipos_jornadas%}
            <option>{{equipo_aux.nombre}}</option>
            {%endfor%}
      </select>
      <p>
      Fecha:<input type="date" name="fecha"/>

      </p>
      <p>
      Jornada nº:<input type="number" name="numero_jornada" />
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</p>

{%endblock%}
