<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <style media="screen">
            body {
                  padding-bottom: 20px;
            }

            .navbar {
                  margin-bottom: 20px;
            }
      </style>
      <title>Tuliga</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>

      <nav class="navbar navbar-default">
            <div class="container-fluid">
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <!-- <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> -->
                        </button>
                        <a class="navbar-brand" href="/">TULIGA</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                        {% if user.is_authenticated %}
                        <p class="navbar-text navbar-right"><a href="/cerrar">Cerrar sesion</a></p>
                        <ul class="nav navbar-nav">
                              <li><a href="/ver_equipos">Ver equipos</a></li>
                              <li><a href="/ver_jornadas">Ver Jornadas</a></li>
                              {% if not context.tiene_equipo%}
                              <li><a href="/registrar_equipo">Registrar un equipo</a></li>
                              {%endif%}
                              <li><a href="/registrar_liga">Registrar una liga</a></li>

                        </ul>

                        {% else %}

                        <div class="navbar-right">
                              <p><a class="btn btn-lg btn-primary btn-block" href="/inicio_sesion" role="button">Iniciar sesion</a></p>
                        </div>
                        {% endif %}
                  </div>
                  <!--/.navbar-collapse -->
            </div>
      </nav>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
            <div class="container">

                  <h1>Bienvenido {{user.username}}</h1>
                  <p>MiLiga es tu página web ideal para la gestión de tu propia liga en tu localidad. Podrás crear y gestionar tu propio equipo y crear una liga para que se unan los demas equipos y poder tener una clasificación.</p>

                  {% if context.es_administrador_liga%}
                  <p><a class="btn btn-default" href="/jornadas" role="button">Crear las jornadas&raquo;</a></p>
                  <p><a class="btn btn-default" href="/resultado_jornada" role="button">Añadir resultado&raquo;</a></p>
                  {%endif%}
                  <!--<a class="btn btn-primary" role="button" href="/ver_equipos">Ver equipos</a>  -->
            </div>
      </div>


      <div class="container">
            <!-- Example row of columns -->
            {% if user.is_authenticated %} {% if context.tiene_equipo%}
            <div class="row">
                  <div class="col-md-6">
                        <h2>Clasificacion Liga "{{context.usuario.equipo.Liga.nombre}}"</h2>
                        {%for equipo_aux in context.equipos%}
                        <p>{{equipo_aux.nombre}} {{equipo_aux.puntos}}</p>
                        {%endfor%}
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>

                  </div>
                  {% else %}
                  <div class="row">
                        <div class="col-md-6">
                              <h2>Unete a algun equipo</h2>
                              <form class="" action="/unirte_equipo" method="POST">
                                    {% csrf_token %}
                                    <select method="POST" class="form-control" name="nombre_equipo">
                                          {% for equipos in context.todos_equipos%}
                                          <option>{{equipos.nombre}}</option>
                                          {%endfor%}
                                    </select>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                              </form>
                        </div>
                  </div>
                  {%endif%} {%if context.tiene_equipo%}
                  <div class="col-md-6">
                        <h2>Jugadores de tu equipo {{context.usuario.equipo.nombre}}</h2>
                        {% for jugador in context.jugadores%}
                        <p>{{jugador.usuario.username}}</p>
                        {%endfor%}
                  </div>
            </div>
            {% endif %} {% endif %}
      </div>
      <br>
      <br>
      <br>
      {%if user.is_authenticated%}
      <form class="" action="/buscarLiga/" method="POST">
            {% csrf_token %}
            <label for="inputEmail" class="sr-only">User</label>
            <input type="text" class="form-control" placeholder="nombre liga" name="nombre_liga">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
      </form>
      {%endif%}
      <hr>

      <footer>
            <p>&copy; Joselito5550 2015</p>
      </footer>

      </div>
      <!-- /container -->


      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
